<?php echo $this->doctype(); ?>
<html>
    <head>
        <title>Awesome Admin is Awesome!</title>
    </head>
    <body>
        Admin Layout<hr />
        <a href="<?php echo $this->baseUrl('admin'); ?>">Home</a>
        <a href="<?php echo $this->baseUrl('admin/posts/new'); ?>">New Post</a>
<a href="<?php echo $this->baseUrl('admin/posts/edit'); ?>">Edit Post</a>
<a href="<?php echo $this->baseUrl('admin/settings/cache'); ?>">Flush Cache</a>
<hr />
        <?php echo $this->layout()->content; ?>
    </body>
</html>