<div class="pagination" style="width:100%">
    <div style="float:left;width:28%">
    </div>
    <div style="float:right;width:70%;">
        <?php if (isset($this->previous)) { ?>
              <a href="<?php echo $this->url(array('page' => $this->first)); ?>">First</a> |
        <?php } else { ?>
                <span class="disabled">First</span> |
        <?php }
    
         if (isset($this->previous)) { ?>
              <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">&lt; Previous</a> |
        <?php } else {  ?>
            <span class="disabled">&lt; Previous</span> |
        <?php }
         foreach ($this->pagesInRange as $page) {
            if ($page != $this->current) { ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
            <?php } else {
                 echo $page;
             }
            }
         if (isset($this->next)) { ?>
              | <a href="<?php echo $this->url(array('page' => $this->next)); ?>">Next &gt;</a> |
        <?php } else { ?>
            | <span class="disabled">Next &gt;</span> |
        <?php }
         if (isset($this->next)) { ?>
              <a href="<?php echo $this->url(array('page' => $this->last)); ?>">Last</a>
        <?php } else { ?>
            <span class="disabled">Last</span>
        <?php } ?>
        &nbsp; Page <?php echo $this->current . ' of ' . $this->last; ?>
    </div>
 </div>