<table width="100%" cellpadding="5">
    <thead>
        <th>Post Title</th>
        <th>Post ID</th>
        <th>Created On</th>
    </thead>
    <tbody>
    <?php
    foreach($this->paginator as $record)
    {
        echo '<tr align="center">
            <td><a href="'.$this->baseUrl('blog/post/'.$record['title']).'">'.$record['title'] . '</a></td>
            <td><a href="'.$this->baseUrl('blog/post/'.$record['title']).'">' . $record['postid'] . '</a></td>' .
            '<td><a href="'.$this->baseUrl('blog/post/'.$record['title']).'">' . $record['createdon'] . '</a></td></tr>';
    }
    ?>
    </tbody>
</table>
<br /><br />
<?php echo $this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml');